Завдання 1.
Виведіть повідомлення:
Мене звати <Ваше ім’я>, мені <Ваш вік> років.
– використовуючи три різні способи: конкатенацію, format() і f-рядок

In [1]:
name = "Antony"
age = 18
print("My name is " + name + " and I am " + str(age) + " years old.")
print("My name is {} and I am {} years old.".format(name, age))
print(f"My name is {name} and I am {age} years old.")

My name is Antony and I am 18 years old.
My name is Antony and I am 18 years old.
My name is Antony and I am 18 years old.

Завдання 2.
Виведіть таблицю множення числа 7 у вигляді:
```
7 x 1 = 7
7 x 2 = 14
...
```

In [2]:
for i in range(1, 11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Завдання 3.
Створіть програму, яка виводить число Пі з точністю до 2, 3 та 5 знаків після коми.

In [4]:
import math
pi = math.pi
print(f"{pi:.2f}")
print(f"{pi:.3f}")
print(f"{pi:.5f}")

3.14
3.142
3.14159

Завдання 4.
Виведіть числа від 1 до 10 у два стовпці: у першому – саме число, у другому – його квадрат. Використайте форматування для вирівнювання по ширині.

In [14]:
for i in range(1, 11):
    print(f"{i:4.0f} \t {i*i:4.0f}")

   1 	    1
   2 	    4
   3 	    9
   4 	   16
   5 	   25
   6 	   36
   7 	   49
   8 	   64
   9 	   81
  10 	  100

Завдання 5.
Розробіть програму, яка виводить таблицю покупок у такому вигляді:
```
Товар        Кількість   Ціна
Яблука       5           50.00
Молоко       2           80.50
Хліб         1           30.25
```

In [2]:
table = [
    ("Товар", "Кількість", "Ціна"),
    ("Яблука", 10, 5.0),
    ("Груші", 5, 7.0),
    ("Банани", 8, 6.0)
]
print(f"{table[0][0]:<12} {table[0][1]:<12} {table[0][2]:<12}")
for item in table[1:]:
    print(f"{item[0]:<12} {item[1]:<12} {item[2]:<12.2f}")

Товар        Кількість    Ціна
Яблука       10           5.00
Груші        5            7.00
Банани       8            6.00